.container-fluid {
    height: 50px;
}

.auth {
    margin-bottom: 30px;
}

.auth-title {
    margin-bottom: 10px;
}

.single-featured-list-txt h3 {
    text-align: center;
}

.bx-system-auth-form > form > table {
    margin: 0 auto;
    width: max-content;
}

.bx-system-auth-form > form > table > tbody > tr:nth-child(1) > td {
    line-height: 27px;
}

.bx-system-auth-form > form > table > tbody > tr:nth-child(2) > td > input[type=submit]:last-child {
    width: 150px;
    height: 45px;
    background-color: #000;
    color: #fff;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    margin-top: 10px;
}

.bx-system-auth-form > form > table > tbody > tr:nth-child(2) > td > input[type=submit]:last-child:hover {
    cursor: pointer;
}

.bx-system-auth-form > form > table > tbody > tr:nth-child(4) > td > input[type=submit] {
    width: 150px;
    height: 45px;
    background-color: #000;
    color: #fff;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    margin-top: 10px;
}

.bx-system-auth-form > form > table > tbody > tr:nth-child(4) > td > input[type=submit]:hover {
    cursor: pointer;
}

.wrapper {
    background: linear-gradient(to bottom, white, #b1c1db, white);
    margin-bottom: 40px;
}